<% @title = 'Σχετικά με' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">
    Εισαγωγή στο <%= site_name %> <a href="#introduction">#</a>
  </h1>
  <dl>
    <dt id="purpose">Τι είναι το <%= site_name %>; <a href="#purpose">#</a></dt>
    <dd>
      <p>
        Μια πλατφόρμα για να σας βοηθήσει να ασκήσετε το συνταγματικό δικαίωμα
        πρόσβασης στην πληροφόρηση και να υποβάλετε αίτημα κατάθεσης εγγράφων
        προς τη δημόσια διοίκηση. Σας προσκαλούμε να μάθετε περισσότερα για το
        πώς δρα η κυβέρνηση και οι δημόσιοι φορείς. Το arthro5A.gr δημοσιεύει
        και αρχειοθετεί αιτήματα και απαντήσεις, δημιουργώντας ένα τεράστιο
        αρχείο πληροφοριών.
      </p>
      <p>
        Σύμφωνα με τα άρθρα 5 παρ. 1 και 5Α παρ. 1 του Συντάγματος, το άρθρο 10
        της Ευρωπαϊκής Σύμβασης για τα Δικαιώματα του Ανθρώπου (ΕΣΔΑ), τον Ν.
        4727/2020 (Ενσωμάτωση στην Ελληνική Νομοθεσία της Οδηγίας (ΕΕ) 2019/1024
        για την περαιτέρω χρήση πληροφοριών του δημόσιου τομέα) και το ΠΔ
        28/2015 (Κωδικοποίηση διατάξεων για την πρόσβαση σε δημόσια έγγραφα και
        στοιχεία), κάθε πολίτης έχει δικαίωμα πρόσβασης στη δημόσια πληροφορία.
        Μπορείτε να υποβάλετε αίτημα κατάθεσης εγγράφων (ΑΚΕ) και να
        διεκδικήσετε αυτή την πρόσβαση από την κυβέρνηση, τους οργανισμούς
        τοπικής αυτοδιοίκησης (ΟΤΑ), τη Βουλή, το ΕΣΥ, τις ένοπλες δυνάμεις, τα
        πανεπιστήμια και όλους τους δημόσιους φορείς και οργανισμούς.
      </p>
    </dd>

    <dt id="premise">Πώς δουλεύει η πλατφόρμα; <a href="#premise">#</a></dt>
    <dd>
      Επιλέγετε τον δημόσιο φορέα από το οποίο θα θέλατε πληροφορίες και, στη
      συνέχεια, γράφετε μια σύντομη αναφορά που περιγράφει τι θέλετε να
      γνωρίζετε. Στη συνέχεια, στέλνουμε το αίτημά σας στον δημόσιο φορέα.
      Οποιαδήποτε απάντηση δημοσιεύεται αυτόματα στην πλατφόρμα ώστε να είναι
      προσβάσιμη από όλους/-ες..
    </dd>

    <dt id="whybother_me">
      Γιατί να δώσω τον χρόνο μου και να υποβάλω τέτοιο αίτημα;
      <a href="#whybother_me">#</a>
    </dt>
    <dd>
      Πληρώνετε φόρους και στη συνέχεια η κυβέρνηση διαχειρίζεται και δαπανά τα
      χρήματα αυτά με διάφορους τρόπους. Κάθε είδους δαπάνες που επηρεάζουν τη
      ζωή σας, από την υγειονομική περίθαλψη έως την εθνική άμυνα. Κάποια
      ζητήματα τα διαχειρίζεται ορθά, άλλα όχι και τόσο. Όσα περισσότερα
      μαθαίνουμε για το πώς λειτουργεί η κυβέρνηση, τόσο είμαστε σε θέση να
      κάνουμε προτάσεις για να βελτιώσουμε την κακοδιαχείριση και να
      αναγνωρίσουμε τις ορθές ενέργειες προς το δημόσιο συμφέρον.
    </dd>

    <dt id="whybother_them">
      Γιατί να απαντήσει ο δημόσιος φορέας;
      <a href="#whybother_them">#</a>
    </dt>
    <dd>
      Σύμφωνα με το συνταγματικά κατοχυρωμένο άρθρο 5Α κάθε πολίτης έχει το
      δικαίωμα στην πληροφόρηση και σύμφωνα με τον Ν. 4727/2020 (Ενσωμάτωση στην
      Ελληνική Νομοθεσία της Οδηγίας (ΕΕ) 2019/1024 για την περαιτέρω χρήση
      εγγράφων) οι φορείς του δημοσίου είναι υποχρεωμένοι να απαντήσουν σε κάθε
      αίτημα, εντός 20 ημερών. Η απάντηση μπορεί να περιέχει τα έγγραφα που
      αιτηθήκατε ή αιτιολογημένη απόρριψη του αιτήματος για λόγος απορρήτου ή
      εμπιστευτικότητας.
    </dd>

    <dt id="reporting">
      Τι γίνεται αν βλέπω ένα αίτημα που θεωρώ ακατάλληλο;
      <a href="#reporting">#</a>
    </dt>
    <dd>
      Τα αιτήματα για προσωπικές πληροφορίες και τα ενοχλητικά αιτήματα δεν
      θεωρούνται ότι συμμορφώνονται με τους σκοπούς της πλατφόρμας. Ανατρέξτε
      στους Κανόνες μας για περισσότερες πληροφορίες σχετικά με το πώς
      περιμένουμε από τους χρήστες να χρησιμοποιούν αυτόν τον ιστότοπο. Εάν
      πιστεύετε ότι ένα αίτημα δεν είναι κατάλληλο, μπορείτε να το αναφέρετε
      στην ομάδα διαχείρισης της πλατφόρμας.
    </dd>

    <dt id="reporting_unavailable">
      Γιατί υπάρχουν κάποια αιτήματα που δεν μπορώ να αναφέρω;
      <a href="#reporting_unavailable">#</a>
    </dt>
    <dd>
      Εάν έχει ήδη αναφερθεί ένα αίτημα στην ομάδα διαχείρισης της πλατφόρμας,
      δεν μπορείτε να το αναφέρετε για δεύτερη φορά - αυτό είναι για να
      αποτραπεί η ειδοποίηση των διαχειριστών/-ριών πολλές φορές για το ίδιο
      ζήτημα προτού έχουν την ευκαιρία να πραγματοποιήσουν έλεγχο. Όταν έχει
      αναφερθεί προηγουμένως ένα αίτημα που πιστεύετε ότι πρέπει να απορριφθεί,
      αλλά έχει ληφθεί απόφαση να μην καταργηθεί από τη δημόσια προβολή,
      μπορείτε να χρησιμοποιήσετε τη φόρμα στην πλαϊνή γραμμή της σελίδας
      αιτήματος για να επικοινωνήσετε με την ομάδα διαχείρισης.
    </dd>

    <dt id="who">Ποιος τρέχει το <%= site_name %>; <a href="#who">#</a></dt>
    <dd>
      <p>
        Το <%= site_name %> διευθύνεται και συντηρείται από το
        <a href="http://vouliwatch.gr/">Vouliwatch</a>. Το Vouliwatch είναι μία
        ανεξάρτητη, μη κερδοσκοπική πρωτοβουλία ανοιχτής διακυβέρνησης,
        ενίσχυσης της διαφάνειας και της λογοδοσίας και προώθησης της
        δημοκρατικής συμμετοχής με τη βοήθεια της ψηφιακής τεχνολογίας. Στόχος
        μας είναι να φέρουμε την δημοκρατική συμμετοχή και την έννοια του
        ενεργού πολίτη στην ψηφιακή εποχή. Ενημερωνόμαστε, αναζητούμε δουλειά,
        κάνουμε φίλους και καταναλώνουμε online όλο και περισσότερο. Η
        δημοκρατία και η λογοδοσία γιατί να μένουν πίσω;
      </p>
      <p>
        Αν σας αρέσει αυτό που κάνουμε, τότε μπορείτε να μας ενισχύσετε κάνοντας
        μια <a href="https://vouliwatch.gr/donate">δωρεά</a>
      </p>
    </dd>

    <dt id="updates">
      Πώς μπορώ να παρακολουθώ τα νέα του <%= site_name %>;
      <a href="#updates">#</a>
    </dt>
    <dd>
      Βρείτε μας στο <a href="https://facebook.com/...">Facebook</a> και στο
      <a href="https://twitter.com/...">Twitter</a>.
    </dd>
  </dl>

  <p>
    <strong>Στη συνέχεια</strong>, διαβάστε σχετικά με την
    <a href="<%= help_requesting_path %>">υποβολή αιτημάτων</a> --&gt;
  </p>

  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
