<% @title = 'Credit where credit’s due' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="credits"><%= @title %> <a href="#credits">#</a></h1>

  <p>
    Το WhatDoTheyKnow είναι ένα έργο του mySociety, ενός βρετανικού οργανισμού.
    Το <a href="https://www.mysociety.org">mySociety</a> δημιουργεί ιστότοπους
    που δίνουν τη δυνατότητα στους πολίτες να ζητούν λογοδοσία από τις αρχές και
    τις κυβερνήσεις. Ένα μεγάλο ευχαριστώ στον οργανισμό που ξεκίνησε αυτή την
    παγκόσμια πρωτοβουλία διαφάνειας και λογοδοσίας και χάρη στο Alaveteli, το
    λογισμικό που τροφοδοτεί το <%= site_name %>, έκανε αυτή την πλατφόρμα
    πραγματικότητα.
  </p>

  <dl>
    <dt id="helpus">Πώς μπορείτε να βοηθήσετε: <a href="#helpus">#</a></dt>
    <dd></dd>
    <dt id="volunteer">Γίνετε εθελοντής/-ρια <a href="#volunteer">#</a></dt>
    <dd>
      <p>
        Εάν έχετε πάθος για τη διαφάνεια, μεγάλη υπομονή και έστω και λίγο
        ελεύθερο χρόνο, σκεφτείτε να γίνετε μέλος της εθελοντικής ομάδας
        διαχείρισης της πλατφόρμας. περιλαμβάνει υποστήριξη χρηστών, βοήθεια
        στην επίλυση νομικών ζητημάτων και διαμόρφωση της κατεύθυνσης του
        ιστότοπου και διαχειρίζεται κατά κύριο λόγο μέσω email.
      </p>
    </dd>

    <dt id="donate">Δωρεά <a href="#donate">#</a></dt>
    <dd>
      <p>
        Οι συνεισφορές σας, όσο μικρές κι αν είναι, βοηθούν ουσιαστικά.
        <a href="https://vouliwatch.gr/donate">Κάντε μια δωρεά</a>
        και στηρίξτε το έργο μας εδώ.
      </p>
    </dd>

    <dt id="classification">
      Ταξινομήστε τον χώρο <a href="#classification">#</a>
    </dt>
    <dd>
      <p>
        Η διαχείριση των δεδομένων μπορεί να είναι διασκεδαστική! Βοηθήστε
        τους/-ις χρήστες/-ριες να βρουν αιτήματα που στέφθηκαν με επιτυχία και
        παρακολουθήστε την ανταπόκριση των δημοσίων αρχών, παίζοντας
        <a href="<%= categorise_play_path %>">το παιχνίδι της ταξινόμησης.</a>.
      </p>

      <p>
        Ορισμένα άτομα που έχουν υποβάλει αιτήματα δεν μας ενημέρωσαν εάν ήταν
        επιτυχημένα ή όχι. Χρειαζόμαστε τη βοήθειά σας - επιλέξτε ένα από αυτά
        τα αιτήματα, διαβάστε το και ενημερώστε όλους για το εάν οι πληροφορίες
        έχουν παρασχεθεί ή όχι. Όλοι θα είναι εξαιρετικά ευγνώμονες.
      </p>

      <p>
        Ή ενημερώστε μας για ηλεκτρονικές διευθύνσεις δημόσιων φορέων/
        <a href="<%= help_requesting_path(anchor: 'missing_bodies') %>"
          >αρχών που τυχόν απουσιάζουν</a
        >
        από την πλατφόρμα και εμείς θα τις συμπληρώσουμε.
      </p>
    </dd>

    <dt id="promote">Μοιραστείτε το! <a href="#promote">#</a></dt>
    <dd>
      <p>
        Δεν διαθέτουμε τεράστιο προϋπολογισμό μάρκετινγκ, επομένως η επικοινωνία
        «από στόμα σε στόμα» είναι σημαντική. Γράψτε μας για ένα ενδιαφέρον
        αίτημα που έχετε εντοπίσει. Δημοσιεύστε πληροφορίες σχετικά με την
        πλατφόρμα <%= site_name %> και τι δυνατότητες προσφέρει. Πείτε στους/-ις
        φίλους/-ες σας για το δικαίωμα πρόσβασης στη δημόσια πληροφορία και την
        χρησιμότητα της πλατφόρμας.
      </p>
    </dd>

    <dt id="code">Βελτιώστε τον κώδικά μας <a href="#code">#</a></dt>
    <dd>
      <p>
        Βλέπετε κάτι που θα μπορούσε να λειτουργήσει καλύτερα; Εάν είστε
        προγραμματιστής/-ρια,
        <a href="https://github.com/mysociety/alaveteli/"
          >πάρτε τον κώδικα πηγής (code source)</a
        >
        από το μητρικό έργο
        <a href="http://alaveteli.org/">http://alaveteli.org</a> και στείλτε μας
        ένα αίτημα πρόσβασης (pull request).
      </p>
    </dd>
  </dl>

  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
