<% @title = "FOI officer questions" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a></h1>

  <dl>
    <dt id="top">
      Μόλις έφτασα εδώ από το κάτω μέρος ενός αιτήματος κατάθεσης εγγράφων, τι
      συμβαίνει;
      <a href="#top">#</a>
    </dt>

    <dd>
      <p>
        Το arthro5A.gr είναι μια υπηρεσία που προσφέρεται από το Vouliwatch και
        είναι μη κερδοσκοπική. Βοηθά τα μέλη του κοινού να υποβάλλουν αιτήματα
        κατάθεσης εγγράφων και να παρακολουθούν και να μοιράζονται τις
        απαντήσεις με τρόπο απλό.
      </p>
      <p>
        Το αίτημα κατάθεσης εγγράφων που λάβατε υποβλήθηκε από κάποιον/-α που
        χρησιμοποιεί το athro5A.gr. Μπορείτε απλώς να απαντήσετε στο αίτημα όπως
        θα κάνατε σε οποιοδήποτε άλλο αίτημα ενός/μίας πολίτη. Η μόνη διαφορά
        είναι ότι η απάντησή σας θα δημοσιευτεί αυτόματα στο Διαδίκτυο.
      </p>
      <p>
        Εάν έχετε απορίες σχετικά με την ιδιωτικότητα ή άλλα ζητήματα, διαβάστε
        τις παρακάτω απαντήσεις.
      </p>
      <p>
        Ίσως θέλετε επίσης να διαβάσετε την
        <a href="<%= help_about_path %>">εισαγωγή στο arhtro5A.gr</a> για να
        μάθετε περισσότερα σχετικά με το τι προσφέρει η πλατφόρμα στους/-ις
        χρήστες/-ριες.
      </p>
      <p>
        Μπορείτε επίσης να πραγματοποιήσετε αναζήτηση στην πλατφόρμα για να
        βρείτε την Αρχή για την οποία εργάζεστε και να δείτε την κατάσταση τυχόν
        αιτημάτων που υποβάλλονται μέσω του ιστότοπου.
      </p>
      <p>
        Τέλος, καλωσορίζουμε τα σχόλια και τις σκέψεις των διαχειριστών/-ριών
        αιτημάτων κατάθεσης εγγράφων εκ μέρους του Δημοσίου.
        <a href="<%= help_contact_path %>">Παρακαλούμε επικοινωνήστε μαζί</a>
        μας για οτιδήποτε περαιτέρω.
      </p>
    </dd>

    <dt id="responses">
      Γιατί δημοσιεύετε απαντήσεις σε αιτήματα κατάθεσης εγγράφων και πρόσβασης
      στη δημόσια πληροφορία;
      <a href="#responses">#</a>
    </dt>

    <dd>
      <p>
        Πιστεύουμε ότι υπάρχουν πολλά οφέλη από αυτό. Το πιο σημαντικό είναι ότι
        οι πολίτες θα ενθαρρυνθούν να ενδιαφέρονται περισσότερο και να
        συμμετέχουν στην παρακολούθηση του δημοσίου. Ελπίζουμε επίσης ότι θα
        μειωθεί ο αριθμός των διπλών αιτημάτων για οποιοδήποτε θέμα τυχόν μπορεί
        να λάβει ένας δημόσιος φορέας.
      </p>
      <p>
        Όσοι/-ες αναλαμβάνουν δράση μετά την δημοσίευση έγγραφου υλικού και
        δημοσίων πληροφοριών, όπως η άσκηση πίεσης στους/-ις εκλεγμένους/-ες
        αντιπροσώπους μας ή η δημιουργία άρθρων, μπορούν να αναφέρουν το
        arthro5A.gr και την πηγή των πληροφοριών στις οποίες βασίζονται.
      </p>
      <p>
        Δεδομένου ότι οι απαντήσεις σε αιτήματα κατάθεσης εγγράφων περιέχουν
        δημόσιες πληροφορίες, τις οποίες ο/η καθένας/καθεμία μας θα μπορούσε
        εύκολα να ζητήσει ξανά από τη δημόσια αρχή, πιστεύουμε ότι είναι
        σημαντικό να τις δημοσιεύσουμε και προωθήσουμε ευρέως.
      </p>
    </dd>

    <dt id="realpeople">
      Είναι οι άνθρωποι που υποβάλουν αιτήματα πραγματικοί άνθρωποι;
      <a href="#realpeople">#</a>
    </dt>

    <dd>
      Ναι. Για λόγους παρακολούθησης των απαντήσεων, χρησιμοποιούμε διευθύνσεις
      ηλεκτρονικού ταχυδρομείου που δημιουργούνται από υπολογιστή. Ωστόσο,
      προτού μπορέσει να υποβάλει ένα αίτημα, κάθε χρήστης/-ρια πρέπει να
      εγγραφεί στον ιστότοπο με μια μοναδική διεύθυνση email που στη συνέχεια
      επαληθεύουμε. Μπορείτε να κάνετε αναζήτηση σε αυτόν τον ιστότοπο και να
      βρείτε μια σελίδα με όλα τα αιτήματα που έχει υποβάλει κάθε πολίτης.
    </dd>

    <dt id="spam_problems">
      Βλέπω ένα αίτημα στο arthro5A.gr, αλλά δεν το λάβαμε ποτέ μέσω email!
      <a href="#spam_problems">#</a>
    </dt>

    <dd>
      <p>
        Εάν εμφανιστεί ένα αίτημα στον ιστότοπο, τότε προσπαθήσαμε να το
        στείλουμε στην αρχή μέσω email. Θα δείτε μια μικρή πράσινη ένδειξη στα
        αιτήματα που έχουν παραληφθεί με βεβαιότητα από τους διακομιστές
        αλληλογραφίας της δημόσιας αρχής ή του φορέα και τα τυχόν μηνύματα
        αποτυχίας παράδοσης θα εμφανίζονται αυτόματα στον ιστότοπο. Μπορείτε να
        ελέγξετε τη διεύθυνση που χρησιμοποιούμε με το σύνδεσμο "Προβολή
        διεύθυνσης email ΑΚΕ" που εμφανίζεται στη σελίδα για την αρχή.
        <a href="<%= help_contact_path %>">Επικοινωνήστε μαζί μας</a> εάν
        υπάρχει καλύτερη ηλεκτρονική διεύθυνση (email) που μπορούμε να
        χρησιμοποιήσουμε.
      </p>
      <p>
        Μερικές φορές τα αιτήματα δεν παραδίδονται επειδή καταργούνται από
        «φίλτρα ανεπιθύμητης αλληλογραφίας» (αντιμετωπίζονται ως spam) από το
        τμήμα πληροφορικής της αρχής (IT). Οι δημόσιες αρχές και φορείς μπορούν
        να διασφαλίσουν ότι αυτό δεν θα συμβεί ζητώντας από τα τμήματα
        πληροφορικής τους να «επιτρέπουν» οποιοδήποτε email από το
        <strong>@<%= AlaveteliConfiguration.incoming_email_domain %></strong>.
        Εάν μας <a href="<%= help_contact_path %>">το ζητήσετε</a> θα
        αποστείλουμε ξανά οποιοδήποτε αίτημα ή / και θα δώσουμε τεχνικές
        λεπτομέρειες παράδοσης, ώστε το τμήμα πληροφορικής να μπορεί να
        παρακολουθήσει την πορεία αυτού του μηνύματος.
      </p>
      <p>
        Τέλος, μπορείτε να απαντήσετε σε οποιοδήποτε αίτημα από το πρόγραμμα
        περιήγησής σας στο Web, χωρίς να χρειάζεται κανένα email,
        χρησιμοποιώντας το σύνδεσμο «Απάντηση σε αίτημα» στο κάτω μέρος κάθε
        σελίδας αιτήματος.
      </p>
    </dd>

    <dt id="days">
      Πως υπολογίζεται η προθεσμία για απάντηση στα αιτήματα;
      <a href="#days">#</a>
    </dt>

    <dd>
      <p>
        Σύμφωνα με τον νόμο, οι δημόσιες αρχές πρέπει να ανταποκρίνονται άμεσα
        στα αιτήματα. Ακόμα κι αν δεν είναι άμεσα, σε όλες σχεδόν τις
        περιπτώσεις πρέπει να απαντήσουν εντός 20 ημερολογιακών ημερών.
        Παράταση:
      </p>

      <blockquote>
        <p>
          Η προθεσμία αυτή μπορεί να παραταθεί μέχρι είκοσι (20) επιπλέον ημέρες
          από τη λήξη του πρώτου εικοσαημέρου για αιτήσεις που χαρακτηρίζονται
          από τον φορέα ως περίπλοκες ή μεγάλης κλίμακας. Στην περίπτωση αυτή
          γνωστοποιούνται στον αιτούντα, μέσα σε δέκα (10) ημέρες από την
          παραλαβή της αίτησης.
        </p>
        <footer>— <cite>Άρθρο 62 Ν. 4727/2020</cite></footer>
      </blockquote>
    </dd>
  </dl>

  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
