<% @title = "Κάνοντας αιτήματα" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>

  <dl>
    <dt id="which_authority">
      Δεν είμαι σίγουρος/-η σε ποια αρχή να υποβάλω το αίτημά μου, πως μπορώ να
      μάθω;
      <a href="#which_authority">#</a>
    </dt>

    <dd>
      <p>
        Μπορεί να είναι δύσκολο να ξεδιαλύνετε την περίπλοκη δομή της κυβέρνησης
        και του δημοσίου και να μάθετε ποια αρχή διατηρεί τις πληροφορίες που
        θέλετε. Ακολουθούν μερικές συμβουλές:
      </p>
      <ul>
        <li>
          Περιηγηθείτε ή αναζητήστε στο <%= site_name %> παρόμοια αιτήματα με τα
          δικά σας.
        </li>
        <li>
          Όταν βρείτε μια αρχή που πιστεύετε ότι μπορεί να έχει τις πληροφορίες,
          χρησιμοποιήστε τον σύνδεσμο "αρχική σελίδα" στη δεξιά πλευρά της
          σελίδας τους για να ελέγξετε με τι ασχολούνται στον ιστότοπό τους.
        </li>
        <li>
          Επικοινωνήστε με την αρχή μέσω τηλεφώνου ή ηλεκτρονικού ταχυδρομείου
          για να ρωτήσετε αν διατηρούν το είδος των πληροφοριών που αναζητάτε.
          Εάν κάνετε λάθος, θα πρέπει να σας συμβουλέψουν σε ποιον φορέα να
          υποβάλετε το αίτημα.
        </li>
        <li>
          Εάν αντιμετωπίζετε δυσκολίες,
          <a href="<%= help_contact_path %>">επικοινωνήστε μαζί μας</a> για
          βοήθεια.
        </li>
      </ul>
    </dd>

    <dt id="missing_body">
      Λείπει η δημόσια αρχή στην οποία θέλω να υποβάλω αίτημα κατάθεσης εγγράφων
      και πρόσβασης στη δημόσια πληροφορία!
      <a href="#missing_body">#</a>
    </dt>

    <dd>
      <p>
        Παρακαλούμε <a href="<%= new_change_request_path %>">επικοινωνήστε μαζί
        μας</a> δηλώνοντας το όνομα της δημόσιας αρχής και, αν μπορείτε να τη
        βρείτε, τη διεύθυνση ηλεκτρονικού ταχυδρομείου επικοινωνίας τους για
        αιτήματα κατάθεσης εγγράφων.
      </p>
      <p>
        Αν θέλετε να βοηθήσετε να προσθέσουμε μια ολόκληρη κατηγορία δημόσιας
        αρχής στη λίστα της πλατφόρμας, θα καλωσορίσουμε την προσθήκη σας.
      </p>
    </dd>

    <dt id="authorities">
      Γιατί συμπεριλαμβάνετε ορισμένες αρχές που δεν υπόκεινται επίσημα σε
      αιτήματα κατάθεσης εγγράφων και πρόσβασης στη δημόσια πληροφορία;
      <a href="#authorities">#</a>
    </dt>

    <dd>
      <p>
        Το <%= site_name %> σας επιτρέπει να υποβάλλετε αιτήματα για πληροφορίες
        σε μια σειρά οργανισμών, όπως αυτοί προβλέπονται από το Άρθρο 60 του ν.
        4727/2020.
      </p>

      <p>
        Για τους σκοπούς του παρόντος Κεφαλαίου ισχύουν οι ακόλουθοι ορισμοί:
      </p>

      <ol>
        <li>
          «Φορείς του δημόσιου τομέα»: οι κρατικές αρχές, κεντρικές και
          περιφερειακές, οι ανεξάρτητες διοικητικές αρχές, οι Ο.Τ.Α. πρώτου και
          δεύτερου βαθμού, τα λοιπά νομικά πρόσωπα δημοσίου δικαίου, οι
          οργανισμοί δημοσίου δικαίου κατά την έννοια της παρ. 2 και οι ενώσεις
          που σχηματίζονται από μία ή περισσότερες από τις ανωτέρω αρχές ή από
          έναν ή περισσότερους από τους οργανισμούς δημοσίου δικαίου του
          παρόντος,
        </li>
        <li>
          «Οργανισμός δημοσίου δικαίου»: κάθε οργανισμός που έχει όλα τα
          ακόλουθα χαρακτηριστικά:
          <ol style="list-style-type: lower-greek">
            <li>
              έχει συσταθεί με συγκεκριμένο σκοπό την κάλυψη αναγκών γενικού
              συμφέροντος, χωρίς βιομηχανικό ή εμπορικό χαρακτήρα,
            </li>
            <li>
              έχει νομική προσωπικότητα, και (γ) είτε χρηματοδοτείται για τη
              δραστηριότητά του κατά κύριο λόγο από τον κρατικό προϋπολογισμό,
              τους Ο.Τ.Α. ή άλλους οργανισμούς δημοσίου δικαίου, είτε η
              διαχείρισή του υπόκειται στην εποπτεία των ανωτέρω αρχών ή
              οργανισμών, είτε διοικείται, διευθύνεται ή εποπτεύεται από όργανο,
              του οποίου περισσότερα από τα μισά μέλη διορίζονται από το
              Δημόσιο, τους Ο.Τ.Α. ή άλλους οργανισμούς δημοσίου δικαίου,
            </li>
          </ol>
        </li>
        <li>
          «δημόσια επιχείρηση»: κάθε επιχείρηση, η οποία δραστηριοποιείται στους
          τομείς που ορίζονται στην περ. β΄ της παρ. 3 του άρθρου 59 και στην
          οποία οι φορείς του δημόσιου τομέα μπορούν να ασκούν άμεσα ή έμμεσα
          αποφασιστική επιρροή είτε λόγω κυριότητας είτε λόγω χρηματοοικονομικής
          τους συμμετοχής σε αυτή είτε δυνάμει των κανόνων που την διέπουν. Η
          ύπαρξη αποφασιστικής επιρροής των φορέων του δημόσιου τομέα
          τεκμαίρεται σε οποιαδήποτε από τις ακόλουθες περιπτώσεις, στις οποίες
          οι φορείς αυτοί, άμεσα ή έμμεσα:
          <ol style="list-style-type: lower-greek">
            <li>
              κατέχουν την πλειοψηφία του εγγεγραμμένου κεφαλαίου της
              επιχείρησης,
            </li>
            <li>
              ελέγχουν την πλειοψηφία των ψήφων που συνδέονται με τις μετοχές
              που εκδίδει η επιχείρηση,
            </li>
            <li>
              μπορούν να διορίζουν περισσότερα από τα μισά μέλη του οργάνου
              διοίκησης, διεύθυνσης ή εποπτείας της επιχείρησης.
            </li>
          </ol>
        </li>
      </ol>
    </dd>

    <dt id="focused">
      Γιατί πρέπει να κρατήσω το αίτημά μου συγκεκριμένο;
      <a href="#focused">#</a>
    </dt>

    <dd>
      <p>
        Παρακαλώ όταν υποβάλετε το αίτημά σας, να αναφέρετε μόνο ό,τι
        χρειάζεται, ώστε κάποιος/-α να μπορεί να αναγνωρίσει εύκολα ποιες
        πληροφορίες ζητάτε.
      </p>

      <p>
        Μην συμπεριλάβετε επιχειρήματα σχετικά με τον σκοπό σας ή δηλώσεις που
        θα μπορούσαν να δυσφημίσουν ή να προσβάλουν άλλα πρόσωπα. Εάν το κάνετε,
        ίσως χρειαστεί να καταργήσουμε το αίτημά σας για να αποφύγουμε
        προβλήματα με το νόμο περί δυσφήμισης, κάτι που θα είναι αμήχανο και
        επώδυνο τόσο για εσάς όσο και για εμάς.
      </p>

      <p>
        Σύντομα μηνύματα διευκολύνουν τις αρχές να καταλάβουν ποιες πληροφορίες
        ζητάτε, κάτι που αυξάνει τις πιθανότητες να λάβετε πιο άμεσα απάντηση.
      </p>

      <p>
        Εάν θέλετε οι πληροφορίες που αιτείστε να χρησιμοποιηθούν για την
        υποστήριξη μιας εκστρατείας, η χρήση του δικαιώματος στην πληροφόρηση
        είναι ένα ισχυρό εργαλείο. Είστε ευπρόσδεκτοι/-ες να συνδέσετε την
        καμπάνια σας με την πλατφόρμα μας arthro5A.gr σε έναν σχολιασμό στο
        αίτημά σας (μπορείτε να κάνετε σχολιασμούς μετά την υποβολή του
        αιτήματος).
      </p>
    </dd>

    <dt id="fees">
      Μου κοστίζει τίποτα για να κάνω ένα αίτημα; <a href="#fees">#</a>
    </dt>

    <dd>
      <p>Making an FOI request is nearly always free.</p>

      <p>
        <strong
          >Η υποβολή αιτήματος κατάθεσης εγγράφων είναι (σχεδόν) πάντα δωρεάν.
          Εξαιρετικά</strong
        >, επιτρέπεται η ανάκτηση του οριακού κόστους για την αναπαραγωγή,
        παροχή και διάδοση των εγγράφων, την ανωνυμοποίηση των δεδομένων
        προσωπικού χαρακτήρα, καθώς και των μέτρων που λαμβάνονται για την
        προστασία των εμπορικά εμπιστευτικών πληροφοριών μέσω επιβολής τελών
        στους ενδιαφερομένους.
      </p>

      <p>
        <strong>Άρθρο 64</strong>
      </p>

      <p>
        <strong
          >Αρχές που διέπουν τη χρέωση (άρθρο 6 της Οδηγίας (ΕΕ)
          2019/1024)</strong
        >
      </p>

      <ol>
        <li>
          Η περαιτέρω χρήση των εγγράφων γίνεται καταρχήν δωρεάν. Εξαιρετικά,
          επιτρέπεται η ανάκτηση του οριακού κόστους για την αναπαραγωγή, παροχή
          και διάδοση των εγγράφων, την ανωνυμοποίηση των δεδομένων προσωπικού
          χαρακτήρα, καθώς και των μέτρων που λαμβάνονται για την προστασία των
          εμπορικά εμπιστευτικών πληροφοριών μέσω επιβολής τελών στους
          ενδιαφερομένους.
        </li>
        <li>
          Κατ’ εξαίρεση, η παρ. 1 δεν εφαρμόζεται:
          <ol style="list-style-type: lower-greek">
            <li>
              στους φορείς του δημόσιου τομέα, για τους οποίους προβλέπεται να
              καλύπτουν οι ίδιοι ένα ουσιώδες μέρος του κόστους εκτέλεσης της
              δημόσιας αποστολής τους από ίδια έσοδα,
            </li>
            <li>
              σε βιβλιοθήκες, συμπεριλαμβανομένων των βιβλιοθηκών των Ανώτατων
              Εκπαιδευτικών Ιδρυμάτων, μουσεία και αρχεία,
            </li>
            <li>
              σε δημόσιες επιχειρήσεις κατά την έννοια της περ. 3 του άρθρου 60.
            </li>
          </ol>
        </li>
        <li>
          Μέσω της Ενιαίας Ψηφιακής Πύλης της Δημόσιας Διοίκησης (gov.gr)
          δημοσιεύεται και επικαιροποιείται, σε ετήσια βάση, ο κατάλογος των
          φορέων που εμπίπτουν στις εξαιρέσεις της παρ. 2.
        </li>
        <li>
          Στις περ. α΄ και γ΄ της παρ. 2, το ύψος των τελών υπολογίζεται με
          αντικειμενικά, διαφανή και επαληθεύσιμα κριτήρια, με βάση το κόστος
          που προκύπτει κατά τη διάρκεια της ετήσιας λογιστικής περιόδου και
          σύμφωνα με τις λογιστικές αρχές που εφαρμόζονται στους οικείους
          φορείς. Τα συνολικά έσοδα από τη διάθεση και την άδεια περαιτέρω
          χρήσης των εν λόγω εγγράφων εντός της εκάστοτε λογιστικής περιόδου δεν
          επιτρέπεται να υπερβαίνουν το κόστος συλλογής, παραγωγής,
          αναπαραγωγής, διάδοσής τους και αποθήκευσης των δεδομένων,
          συμπεριλαμβανομένης μιας εύλογης απόδοσης της επένδυσης, και, κατά
          περίπτωση, το κόστος ανωνυμοποίησης των δεδομένων προσωπικού χαρακτήρα
          και των μέτρων που λαμβάνονται για την προστασία των εμπορικά
          εμπιστευτικών πληροφοριών.
        </li>
        <li>
          Όταν οι βιβλιοθήκες, συμπεριλαμβανομένων των βιβλιοθηκών Ανώτατων
          Εκπαιδευτικών Ιδρυμάτων, τα μουσεία και τα αρχεία επιβάλλουν τέλη, τα
          συνολικά έσοδα από τη διάθεση και την άδεια περαιτέρω χρήσης των
          εγγράφων εντός της εκάστοτε λογιστικής περιόδου δεν επιτρέπεται να
          υπερβαίνουν το κόστος συλλογής, παραγωγής, αναπαραγωγής, διάδοσης,
          αποθήκευσης των δεδομένων, συντήρησης, εκκαθάρισης δικαιωμάτων και,
          κατά περίπτωση, το κόστος ανωνυμοποίησης των δεδομένων προσωπικού
          χαρακτήρα και των μέτρων που λαμβάνονται για την προστασία των
          εμπορικά εμπιστευτικών πληροφοριών, συμπεριλαμβανομένης μιας εύλογης
          απόδοσης της επένδυσης. Το ύψος των τελών υπολογίζεται με βάση το
          κόστος που προκύπτει κατά τη διάρκεια της ετήσιας λογιστικής περιόδου
          και σύμφωνα με τις λογιστικές αρχές που εφαρμόζονται στους οικείους
          φορείς.
        </li>
        <li>
          Σε κάθε περίπτωση, η περαιτέρω χρήση:
          <ol style="list-style-type: lower-greek">
            <li>
              των συνόλων δεδομένων υψηλής αξίας, ο κατάλογος των οποίων
              καθορίζεται σύμφωνα με την παρ. 1 του άρθρου 14 της Οδηγίας (ΕΕ)
              2019/1024, υπό την επιφύλαξη των παρ. 2, 3 και 4 του άρθρου 72 και
            </li>
            <li>των ερευνητικών δεδομένων, είναι δωρεάν.</li>
          </ol>
        </li>
      </ol>
    </dd>

    <dt id="quickly_response">
      Πόσο γρήγορα θα λάβω απάντηση; <a href="#quickly_response">#</a>
    </dt>

    <dd>
      <p>
        Σύμφωνα με τον νόμο, οι δημόσιες αρχές πρέπει να ανταποκρίνονται άμεσα
        στα αιτήματα. Ακόμα κι αν δεν είναι άμεσα, σε όλες σχεδόν τις
        περιπτώσεις πρέπει να απαντήσουν εντός 20 ημερολογιακών ημερών.
        Παράταση:
      </p>

      <blockquote>
        <p>
          Η προθεσμία αυτή μπορεί να παραταθεί μέχρι είκοσι (20) επιπλέον ημέρες
          από τη λήξη του πρώτου εικοσαημέρου για αιτήσεις που χαρακτηρίζονται
          από τον φορέα ως περίπλοκες ή μεγάλης κλίμακας. Στην περίπτωση αυτή
          γνωστοποιούνται στον αιτούντα, μέσα σε δέκα (10) ημέρες από την
          παραλαβή της αίτησης.
        </p>
        <footer>— <cite>Άρθρο 62 Ν. 4727/2020</cite></footer>
      </blockquote>

      <p>
        Το arthro5A.gr θα σας στείλει e-mail εάν δεν λάβετε έγκαιρη απάντηση.
        Στη συνέχεια, μπορείτε να στείλετε στη δημόσια αρχή ένα μήνυμα για να
        τους υπενθυμίσετε το αίτημά σας και να τους τονίσετε ότι παραβιάζουν το
        νόμο.
      </p>
    </dd>

    <dt id="no_response">
      Τι γίνεται αν δεν λάβω ποτέ απάντηση; <a href="#no_response">#</a>
    </dt>

    <dd>
      <p>
        Υπάρχουν πολλά πράγματα που μπορείτε να κάνετε αν δεν λάβετε ποτέ
        απάντηση:
      </p>
      <ol>
        <li>
          Μερικές φορές μπορεί να προέκυψε κάποιο πραγματικό πρόβλημα και η
          δημόσια αρχή να μην έλαβε ποτέ το αίτημα. Αξίζει να τηλεφωνήσετε στην
          αρχή και να ρωτήσετε ευγενικά αν έλαβαν το αίτημα που τους εστάλη μέσω
          e-mail. Εάν δεν το έχουν λάβει, το πρόβλημα πιθανότατα οφείλεται στα
          «φίλτρα ανεπιθύμητης αλληλογραφίας» (spam).
        </li>
        <li>
          Μπορείτε να ασκήσετε προσφυγή κατά της σιωπηρής απόρριψης του
          αιτήματός σας ενώπιον της αρμόδιας Εθνικής Αρχής Διαφάνειας. Σ’αυτή
          την περίπτωση, στείλτε μας ένα email για να σας καθοδηγήσουμε.
        </li>
      </ol>
    </dd>

    <dt id="data_protection">
      Μπορώ να ζητήσω πληροφορίες για τον εαυτό μου;
      <a href="#data_protection">#</a>
    </dt>

    <dd>
      <p>
        Όχι. Τα αιτήματα που υποβάλλονται χρησιμοποιώντας το arthro5A.gr είναι
        δημόσια, υποβάλλονται βάσει του νόμου περί ελευθερίας της πληροφόρησης
        και δεν μπορούν να σας βοηθήσουν να βρείτε πληροφορίες σχετικά ιδιωτικές
        πληροφορίες και προσωπικά δεδομένα. Εάν θέλετε να μάθετε ποιες
        πληροφορίες διαθέτει μια δημόσια αρχή για τον εαυτό σας, θα πρέπει να
        υποβάλετε ένα "<strong>Αίτημα πρόσβασης στα προσωπικά δεδομένα</strong>"
        χρησιμοποιώντας τη νομοθεσία περί προστασίας δεδομένων.
      </p>

      <p>
        Το <strong>δικαίωμα στην πρόσβαση</strong> ενός υποκειμένου στα
        προσωπικά του δεδομένα κατοχυρώθηκε στην Ελλάδα ήδη από το 1997, συνεπώς
        δεν πρόκειται για κάποιο νέο δικαίωμα. Ωστόσο, με την πρόσφατη
        αναθεώρηση του νομοθετικού πλαισίου για την προστασία προσωπικών
        δεδομένων, τόσο σε ευρωπαϊκό, όσο και σε εθνικό επίπεδο, η σημασία του
        δικαιώματος αυτού έχει επανέλθει στο προσκήνιο. Το δικαίωμα στην
        πρόσβαση αναγνωρίζεται σήμερα στο
        <strong
          >Άρθρο 15 του Γενικού Κανονισμού για την Προστασία Δεδομένων
          (γνωστότερος στα αγγλικά με το ακρωνύμιο «GDPR»</strong
        >) και ορισμένοι περιορισμοί του εισήχθησαν με τον πρόσφατο Ν.4624/2019,
        ιδίως στα Άρθρα 29, 30 και 33.
      </p>

      <p>Το δικαίωμα στην πρόσβαση ασκείται <strong>δωρεάν</strong>.</p>

      <p>
        Ο εκάστοτε οργανισμός οφείλει να σου απαντήσει και μάλιστα
        <strong>μέσα σε ένα μήνα</strong> από την άσκηση του δικαιώματος.
      </p>

      <p>
        Μπορείς να ζητήσεις απλά να μάθεις πληροφορίες για τα δεδομένα σου ή και
        να ζητήσεις αντίγραφο αυτών. Κάθε οργανισμός χρησιμοποιεί διαφορετικά
        μέσα με τα οποία μπορείς να ασκήσεις τα δικαιώματα προστασίας των
        προσωπικών σου δεδομένων, συμπεριλαμβανομένου του δικαιώματος πρόσβασης.
        Μπορείς να ζητήσεις πρόσβαση στα δεδομένα σου, επικοινωνώντας με τον
        αντίστοιχο οργανισμό μέσω ταχυδρομείου (ηλεκτρονικού ή απλού), μέσω
        κάποιας ειδικής φόρμας ή άλλου αντίστοιχου πεδίου που θα βρεις στην
        ιστοσελίδα του οργανισμού.
      </p>

      <p>
        Γενικά, καλό είναι να αναζητήσεις για λέξεις κλειδιά όπως «Πολιτική
        Απορρήτου»/ «Privacy Policy», «ρυθμίσεις ασφάλειας», «ρυθμίσεις
        απορρήτου», «άσκηση δικαιωμάτων», «Υπεύθυνος Προστασίας Δεδομένων»,
        «πρόσβαση στις πληροφορίες μου» κλπ., ώστε να βρεις τον κατάλληλο τρόπο
        να επικοινωνήσεις το αίτημα της πρόσβασης στα δεδομένα σου.
      </p>

      <p>
        Εάν δείτε ότι κάποιος/-α έχει συμπεριλάβει προσωπικά δεδομένα σε αίτημά
        του/της στοιχεία, <a href="<%= help_contact_path %>">ειδοποιήστε μας
        αμέσως</a>, ώστε να μπορέσουμε να τα δι αγράψουμε.
      </p>
    </dd>

    <dt id="private_requests">
      Θα ήθελα να κρατήσω το αίτημά μου μυστικό! (Τουλάχιστον μέχρι να
      δημοσιεύσω το σχετικό θέμα μου/ άρθρο μου)
      <a href="#private_requests">#</a>
    </dt>

    <dd>
      <p>
        Το Arthro5A.gr είναι προς το παρόν σχεδιασμένο μόνο για δημόσια
        αιτήματα. Όλες οι απαντήσεις που λαμβάνουμε δημοσιεύονται αυτόματα στον
        ιστότοπο ώστε όλοι/ες να μπορούν να τις διαβάσουν. Θα πρέπει να
        επικοινωνήσετε απευθείας με τη δημόσια αρχή εάν θέλετε να υποβάλετε ένα
        αίτημα ιδιωτικά.
      </p>
    </dd>

    <dt id="offsite">
      Έκανα ένα αίτημα εκτός της πλατφόρμας arthro5A.gr, πώς μπορώ να το
      ανεβάσω/προσθέσω στο αρχείο αιτημάτων;
      <a href="#offsite">#</a>
    </dt>
    <dd>
      <p>
        Το Arthro5A.gr είναι ένα αρχείο αιτημάτων που υποβάλλονται μέσω του
        ιστότοπου και δεν αποτελεί γενικό αρχείο όλων των αιτημάτων κατάθεση
        εγγράφων και πρόσβασης στη δημόσια πληροφορία που έχουν υποβληθεί. Δεν
        θα υποστηρίξουμε ποτέ τη μεταφόρτωση άλλων αιτημάτων. Κυρίως γιατί δεν
        θα μπορούσαμε να επαληθεύσουμε ότι άλλες απαντήσεις προήλθαν πραγματικά
        από την αρμόδια δημόσια αρχή ή τον φορέα. Εάν σας ενδιαφέρει να
        προστεθεί στο αρχείο μας, μπορείτε πάντα να κάνετε το ίδιο αίτημα ξανά
        μέσω του arthro5A.gr.
      </p>
    </dd>

    <% if AlaveteliConfiguration::enable_annotations %>
    <dt id="moderation">
      Πως ελέγχετε τα σχόλια αιτημάτων; <a href="#moderation">#</a>
    </dt>

    <dd>
      <p>
        Οι σχολιασμοί στο arthro5A.gr είναι για να βοηθήσουν τους ανθρώπους να
        πάρουν τις πληροφορίες που θέλουν ή να τους προσφέρουν καθοδήγηση για να
        δράσουν. Ατελείωτες, πολιτικές συζητήσεις δεν επιτρέπονται. Δημοσιεύστε
        έναν σύνδεσμο σε ένα κατάλληλο φόρουμ ή σύνδεσμο καμπάνιας αλλού.
      </p>

      <p>
        Διατηρούμε το δικαίωμα να αφαιρέσουμε οτιδήποτε άλλο που παραβιάζει αυτή
        την αρχή τον
        <a href="https://vouliwatch.gr/code-of-conduct"
          >κώδικα δεοντολογίας του vouliwatch</a
        >.
      </p>
    </dd>
    <% end %>
  </dl>

  <p>
    <strong>Next</strong>, read about
    <a href="<%= help_privacy_path %>">your privacy</a> --&gt;
  </p>

  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
