<% @title = 'Unhappy about a Freedom of Information request?' %>

<div id="left_column_flip" class="left_column_flip">
  <% if @info_request %>
    <h1>
      Unhappy about the response you got to your request '<%=
        request_link(@info_request)
      %>'?
    </h1>
  <% else %>
    <h1>Δεν σας ικανοποίησε η απάντηση που λάβατε;</h1>
  <% end %>

  <p>Εάν ...</p>

  <ul>
    <li>Δεν λάβατε απάντηση εντός 20 ημερών</li>
    <li>
      Δεν λάβατε όλες τις πληροφορίες που ζητήσατε
      <strong>ή</strong>
    </li>
    <li>
      Το αίτημά σας απορρίφθηκε, αλλά με βάσιμο λόγο όπως προβλέπει η νομοθεσία
    </li>
  </ul>

  <p>... μπορείτε</p>

  <ol>
    <li>
      Να απευθυνθείτε για <strong>εσωτερική διερεύνηση</strong> στην αρχή που
      σας απάντησε.
    </li>
    <li>
      Να υποβάλετε προσφυγή στην <strong>Εθνική Αρχή Διαφάνειας</strong>, εντός
      10 ημερών.
    </li>
  </ol>

  <h1 id="other_means">
    Χρησιμοποιώντας άλλα μέσα για απαντήσεις στην ερώτησή σας
    <a class="hover_a" href="#other_means">#</a>
  </h1>

  <p>
    Μπορείτε να δοκιμάσετε να επιλύσετε το πρόβλημά σας ή την έρευνά σας με
    άλλους τρόπους.
  </p>

  <ul>
    <li>
      Υποβάλετε ένα <strong>νέο αίτημα κατάθεσης εγγράφων</strong> και πρόσβασης
      στη δημόσια πληροφορία για συνοπτικές πληροφορίες ή για τεκμηρίωση που
      σχετίζεται έμμεσα με θέματα που απορρίφθηκαν.
      <a href="<%= help_contact_path %>">AΖητήστε μας βοήθεια</a> εάν
      χρειάζεστε.
    </li>
    <li>
      Εάν εμπλέκονται <strong>άλλες δημόσιες αρχές</strong> ή δημόσιες
      εταιρείες, υποβάλετε αιτήματα σε αυτές.
    </li>
    <li>
      Γράψτε στον/στην <strong>βουλευτή/-ριά σας</strong> χρησιμοποιώντας το
      site του <a href="https://vouliwatch.gr/">Vouliwatch</a>
      και ζητήστε τη βοήθειά τους για να βρείτε την απάντηση. Οι βουλευτές/-ριες
      μπορούν να γράψουν απευθείας σε υπουργούς ή τμήματα και να υποβάλουν
      γραπτές ερωτήσεις στη Βουλή στο πλαίσιο του κοινοβουλευτικού ελέγχου. Οι
      σύμβουλοι των τοπικών αρχών μπορούν να μιλούν απευθείας με αξιωματικούς
      του συμβουλίου.
    </li>
    <% if can_ask_the_eu?(@country_code) %>
      <li>
        Δοκιμάστε
        <%=
          link_to 'να ζητήσετε τις πληροφορίες από την Ευρωπαϊκή Ένωση',
                  'http://www.asktheeu.org'
        %>. Κάθε ένα από τα 500 εκατομμύρια άτομα που ζουν στην Ευρωπαϊκή Ένωση
        (τόσο πολίτες όσο και κάτοικοι) έχει το νομικά εγγυημένο δικαίωμα να
        ζητά πληροφορίες από τις αρχές της ΕΕ. Το
        <%= link_to 'Ask The EU', 'http://www.asktheeu.org' %>
        είναι μια έκδοση αυτού του ιστότοπου για την Ευρωπαϊκή Ένωση.
      </li>
    <% end %>
    <li>
      Ζητήστε από <strong>άλλους/-ριες ερευνητές/-ριες</strong> που
      ενδιαφέρονται για παρόμοιο θέμα να μοιραστούν μαζί σας τις ιδέες τους.
      Μερικές φορές μπορείτε να τους/τις βρείτε κάνοντας περιήγηση εδώ στο site
      και να επικοινωνήσετε με οποιον/αδήποτε εγγεγραμμένο/-η χρήστη/-ρια από τη
      σελίδα τους. Μπορεί να υπάρχει σχετικό φόρουμ στο Διαδίκτυο ή ομάδα στην
      οποία συμμετέχουν.
    </li>
    <li>
      Θα μπορούσατε να δημιουργήσετε μια μικρή τοπική ομάδα εκστρατείας και να
      κανονίσετε μια συνάντηση με το προσωπικό της αρχής.
    </li>
  </ul>

  <%= render partial: 'history' %>
</div>
